.DS_Store


application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

*.pdf
*.zip
uploads/transaction/*.png
uploads/transaction/*.jpg
uploads/transaction/*.jpeg
uploads/transaction/*.gif
uploads/transaction/*.webp
uploads/transaction/*.svg

uploads/ticket/*.png
uploads/ticket/*.jpg
uploads/ticket/*.jpeg
uploads/ticket/*.gif
uploads/ticket/*.webp
uploads/ticket/*.svg

uploads/staff/*.png
uploads/staff/*.jpg
uploads/staff/*.jpeg
uploads/staff/*.gif
uploads/staff/*.webp
uploads/staff/*.svg



uploads/employee/*.png
uploads/employee/*.jpg
uploads/employee/*.jpeg
uploads/employee/*.gif
uploads/employee/*.webp
uploads/employee/*.svg


uploads/staff/*.png
uploads/staff/*.jpg
uploads/staff/*.jpeg
uploads/staff/*.gif
uploads/staff/*.webp
uploads/staff/*.svg

uploads/company/*.png
uploads/company/*.jpg
uploads/company/*.jpeg
uploads/company/*.gif
uploads/company/*.webp
uploads/company/*.svg

